html {
  margin: 0px !important;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", Verdana, Tahoma, sans-serif;
  font-size: 12px;
  color: #000000;
  letter-spacing: 2px;
  background-color: white;
}

#logo {
  position: relative;
  top: 0px;
  width: 350px;
  height: 75px;
  margin-bottom: 12px;
}

#logoname {
  position: absolute;
  top: 0;
  left: 0;
  height: 75px;
  width: 250px;
  background: url(https://denovali.com/dictaphone/hp/logo.png) 0 0 no-repeat;
  background-size: 350px 75px;
}

#player,
#playerdiv {
  width: 200px;
  height: 20px;
  border: 0;
}

#playerdiv {
  position: absolute;
  top: 57px;
  right: 0;
}

.container {
  margin-left: 50px;
  padding-left: 0px;
  padding-right: 0px;
}

.sidebar {
  height: 100vh;
  background-image: url(https://denovali.com/images/streampages/dictaphone.png);
}

.albums {
  background-color: #8b4513;
}

.music-player {
  height: 40px;
}

.main-menu {
  height: 80px;
  margin-left: 15px;
  margin-right: 0px;
}

.main-menu-label {
  padding: 0;
}

.row > .main-menu li {
  font-size: 14px;
  letter-spacing: 0px;
  margin-right: 10px;
  cursor: pointer;
  display: inline;
}

.row > .main-menu li a {
  color: black;
}

.menu {
  padding-left: 0px;
}

.main {
  margin-top: 50px;
  margin-left: 25px;
  width: 350px;
}

#menu-item-25 {
  display: none;
}

/* Sections */

.section-left {
  /* background-color: red; */
  width: 350px;
  float: left;
}

.section-right {
  background-color: green;
  height: 100vh;
  margin-left: 100px;
}

.section-wrapper {
  /* background-color: yellow; */
  height: 100px;
  margin: 25px 25px 25px 25px;
}

.section-left > .row {
  margin: 0 auto;
}
