/* body {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", Verdana, Tahoma, sans-serif;
  font-size: 12px;
  color: #000000;
  letter-spacing: 2px;
  background: url(https://denovali.com/dictaphone/back.jpg) no-repeat;
  background-color: white;
}

#logo {
  position: relative;
  top: 0px;
  left: 25px;
  width: 350px;
  height: 75px;
}

#nav {
  position: relative;
  top: 20px;
  left: 25px;
  width: 350px;
  height: 15px;
  overflow: hidden;
  margin-bottom: 25px;
}

#nav img {
  width: 350px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#logoname {
  position: absolute;
  top: 0;
  left: 0;
  height: 75px;
  width: 250px;
  background: url(https://denovali.com/dictaphone/hp/logo.png) 0 0 no-repeat;
  background-size: 350px 75px;
}

#player,
#playerdiv {
  width: 200px;
  height: 20px;
  border: 0;
}

#playerdiv {
  position: absolute;
  top: 57px;
  right: 0;
}

#facebook {
  position: absolute;
  top: 0;
  right: 0;
  height: 16px;
  width: 14px;
  background: url(https://denovali.com/dictaphone/hp/fb.png) right top no-repeat;
  background-size: 16px 14px;
}

#facebook img {
  width: 100%;
  height: 100%;
}

.main {
  margin-top: 50px;
  margin-left: 25px;
  width: 350px;
}

#mainbackbottom .main {
  margin-top: 40px;
}

#mainbacktop,
#mainbackbottom {
  width: 400px;
  background-image: url(https://denovali.com/images/streampages/dictaphone.png);
  margin-left: 50px;
  float: left;
  clear: both;
  transition: height 0.3s ease-in;
}

#relcols,
#relcolsm {
  position: absolute;
  top: 0;
  left: 450px;
}

#relcols img,
#relcolsm img {
  width: 200px;
  height: 200px;
}

#relcol0,
#relcol1,
#relcol2,
#relcolm0,
#relcolm1,
#relcolm2 {
  width: 250px;
  float: left;
  margin-left: 50px;
}

.cover {
  text-align: center;
  width: 200px;
  background-image: url(https://denovali.com/images/streampages/dictaphone.png);
  padding: 25px;
  margin-bottom: 50px;
}

.covertop {
  text-align: center;
  width: 200px;
  background-image: url(https://denovali.com/images/streampages/dictaphone.png);
  padding: 125px 25px 25px 25px;
  margin-bottom: 50px;
}

a {
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  border-bottom: 1px dotted black;
}

a.ajax {
  border: 0;
}

#content img {
  width: 100%;
}

.videowrapper_m {
  width: 350px;
  height: 197px;
  padding: 0;
  position: static;
} */

/* .menu-top-menu-container ul li {
  display: inline;
  text-decoration: none;
} */

.test {
  display: inline;
}
